body {
    font-family: Arial, sans-serif;
    background-color: #FAF3E0;
    color: #343a40;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #f1ad5f;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form input, form select, form button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

form button {
    background-color: #b694ec;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #759df2;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
}

#task-list li.completed {
    text-decoration: line-through;
    background-color: #d4edda;
}

#task-list li button {
    background-color: transparent;
    border: none;
    color: #dc3545;
    cursor: pointer;
}

#task-list li button:hover {
    color: #a71d2a;
}

#search-task {
    padding: 10px;
    width: calc(100% - 20px); /* Adjust width for padding */
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

#productivity-dashboard {
    background-color: #f8f9fa; /* Lighter Gray */
    padding: 20px;
    border-radius: 8px;
}

#productivity-dashboard h2 {
    color: #f284bd;
}

#productivity-dashboard ul {
    list-style: none;
    padding: 0;
}

#productivity-dashboard ul li {
    margin-bottom: 10px;
}
